<!-- recipe index view -->

  <div class = "container center-align">
    <h5>Welcome to the Recipe Index </h5>
      <% @recipes.each do |recipe| %>
        <p><%=button_to recipe.dish, recipe_path(recipe),:method => :get%></p>
      <% end %>

      <div class = "row">
        <div class = "col s4 m4 center-align">
          <%=button_to 'Home', root_path, :method => :get %>
        </div>

        <div class = "col s4 m4 center-align valign"><%=button_to "Add Recipes", new_recipe_path, :method => :get%></div>

        <div class = "col s4 m4 center-align">
          <%=button_to 'Search', recipes_search_path, :method => :get%>
        </div>
    </div>
