
<p><%=button_to "Add Recipes", new_recipe_path, :method => :get%></p>
<p><%=button_to "Search Recipes", recipes_search_path, :method => :get%></p>
<p><%=button_to "All Recipes", recipes_path, :method => :get%></p>
