<!DOCTYPE html>
<html>
<head>
  <title>Keiths Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1 class = 'title'>Welcome to Keith's Cookbook</h1>




<%= yield %>

</body>
</html>
